{% set navbarMenus = {
  'Profile': [
    {'name': 'Mes informations', 'link': 'app_user_edit_profile', 'params': {'id': app.user.id}, 'icon': 'fas fa-user-edit'},
    {'name': 'Mot de passe', 'link': 'app_user_edit_password', 'params': {'id': app.user.id}, 'icon': 'fas fa-key'},
    {'name': 'Se déconnecter', 'link': 'app_logout', 'icon': 'fas fa-sign-out-alt'}
  ],
  'Utilisateurs': [
    {'name': 'Utilisateurs', 'link': 'admin_user', 'icon': 'fas fa-users'},
    {'name': 'Candidats', 'link': 'admin_candidate', 'icon': 'fas fa-user-tie'},
    {'name': 'Etat', 'link': 'admin_candidate_state', 'icon': 'fas fa-briefcase'}
  ],
  'Candidats': [
    {'name': 'Diplômes', 'link': 'admin_education', 'icon': 'fas fa-graduation-cap'},
    {'name': 'Certifications', 'link': 'admin_certification', 'icon': 'fas fa-certificate'},
    {'name': 'Stages', 'link': 'admin_internship', 'icon': 'fas fa-briefcase'},
    {'name': 'Expériences', 'link': 'admin_experience', 'icon': 'fas fa-briefcase'}
  ],
  'Référentiels': [
    {'name': 'Domaines', 'link': 'admin_field_of_study', 'icon': 'fas fa-code-branch'},
    {'name': 'Diplômes', 'link': 'admin_degree', 'icon': 'fas fa-graduation-cap'},
    {'name': 'Postes', 'link': 'admin_position', 'icon': 'fas fa-briefcase'},
    {'name': 'Niveau', 'link': 'admin_level', 'icon': 'fas fa-layer-group'},
    {'name': 'Compétences', 'link': 'admin_skill', 'icon': 'fas fa-cogs'},
    {'name': 'Civilité', 'link': 'admin_civility', 'icon': 'fas fa-id-card'},
    {'name': 'Situations familiales', 'link': 'admin_marital_status', 'icon': 'fas fa-id-card-alt'}
  ]
} %}

<nav class="navbar bg-white border-bottom fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="{{ path('admin_dashboard') }}">
      <img src="{{asset('img/logo-bcm.png')}}" alt="logo" width="24" />
      <span>e-recrutement</span>
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <i class="bx bx-menu-alt-right"></i>
    </button>

    <div class="d-none d-lg-block">
      <ul class="navbar-nav ms-auto">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="pic"><i class="fas fa-user text-white"></i></div>
          </a>
          <ul class="dropdown-menu px-2">
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" href="{{ path('app_user_edit_profile', {id: app.user.id}) }}">
                <i class='bx bx-user'></i> Modifier mes informations
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" href="{{ path('app_user_edit_password', {id: app.user.id}) }}">
                <i class="bx bx-cog"></i> Modifier mon mot de passe
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" href="{{ path('app_logout') }}">
                <i class="bx bx-log-out"></i>  Se déconnecter
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div
      class="offcanvas offcanvas-end d-lg-none"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <img src="{{asset('img/logo-bcm.png')}}" alt="logo" width="24" />
          <span>e-recrutement</span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1">

          <li class="nav-item pb-2 mb-2 border-bottom">
            <a class="nav-link user-panel" href="{{ path('app_user_edit_profile', {id: app.user.id}) }}">
              <div class="pic d-flex ms-0"><i class="fas fa-user text-white"></i></div>
              {{ app.user.getFirstName() }}
            </a>
          </li>

          <li class="nav-item pb-2 mb-2 border-bottom">
            <a class="nav-link active" aria-current="page" href="{{ path('admin_dashboard') }}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              Tableau de bord
            </a>
          </li>

          {% for category, items in navbarMenus %}
            <li class="nav-header {% if loop.index > 1 %}border-top{% endif %}">{{ category }}</li>
            {% for item in items %}
              <li>
                <a class="nav-link" href="{{ path(item.link, item.params | default({})) }}">
                  <i class="nav-icon {{ item.icon }}"></i>
                  {{ item.name }}
                </a>
              </li>
            {% endfor %}
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</nav>
