<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- x-icon -->
    <link rel="icon" href="{{ asset('img/logo-bcm.png') }}" type="image/x-icon" />

    {# Title #}
    <title>BFM | e-recrutement | {% block title %}{% endblock %}</title>

    {# Vendor CSS #}
    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/boxicons/css/boxicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/DataTables/css/dataTables.bootstrap5.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/DataTables/css/responsive.bootstrap5.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/animate/animate.css') }}">

    {# Custom CSS #}
    <link rel="stylesheet" href="{{ asset('css/back/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/customSweetalert.css') }}">
    <link rel="stylesheet" href="{{ asset('css/backToTop.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/back/loader.css') }}">
    <link rel="stylesheet" href="{{ asset('css/back/sidebar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/back/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/back/table.css') }}">

    {# Extra CSS #}
    {% block stylesheets %}{% endblock %}
</head>
<body>

    {{ include('back/partials/_loader.html.twig') }}

    <div class="d-flex flex-nowrap">
    
        {{ include('back/partials/_navbar.html.twig') }}
        {{ include('back/partials/_sidebar.html.twig') }}

        <main class="main-content">
            {% block body %}{% endblock %}
        </main>
    </div>

    {{ include('partials/_back_to_top.html.twig') }}

    {# Vendor JS #}
    <script src="{{ asset('vendor/jquery/jquery-3.7.1.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/DataTables/js/datatables.js') }}"></script>
    <script src="{{ asset('vendor/DataTables/js/dataTables.bootstrap5.js') }}"></script>
    <script src="{{ asset('vendor/DataTables/js/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('vendor/DataTables/js/responsive.bootstrap5.js') }}"></script>

    {# Charts #}
    <script src="{{ asset('vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ asset('vendor/chart.js/chart.umd.js') }}"></script>
    <script src="{{ asset('vendor/echarts/echarts.min.js') }}"></script>

    {# jQuery Validation #}
    <script src="{{ asset('vendor/jquery-validation/jquery.validate.js') }}"></script>

    {# jQuery Custom Validation Methods #}
    <script src="{{ asset('js/customValidationMethods.js') }}"></script>

    {# sweetalert2 CDN #}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {# Custom Alert #}
    <script src="{{ asset('js/customAlert.js') }}"></script>

    {# Custom JS #}
    <script src="{{ asset('js/table.js') }}"></script>
    <script src="{{ asset('js/fullPageLoader.js') }}"></script>
    <script src="{{ asset('js/submitLoader.js') }}"></script>
    <script src="{{ asset('js/referentiel.js') }}"></script>
    <script src="{{ asset('js/backToTop.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    showAlert(
                        "",
                        "{{ message|e('js') }}",
                        "{{ label == 'success' ? 'success' : 'error' }}"
                    )
                {% endfor %}
            {% endfor %}
        });
    </script>

    {# Extra JS #}
    {% block javascripts %}{% endblock %}
</body>
</html>
