{# ---------------------------- Layout ---------------------------- #}
{% extends 'back/layouts/base.html.twig' %}

{# ---------------------------- Title ---------------------------- #}
{% block title %}
    Dashboard | Edition de Profile
{% endblock %}

{# ---------------------------- CSS ---------------------------- #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
{% endblock %}

{# ---------------------------- Body ---------------------------- #}
{% block body %}
    
    {{ include('back/partials/_header.html.twig') }}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card p-4">
                    <div class="card-body p-0">
                        {{ include('partials/forms/user/_edit_password.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{# ---------------------------- JS ---------------------------- #}
{% block javascripts %}
    {# jQuery Validation #}
    <script src="{{ asset('vendor/jquery-validation/jquery.validate.js') }}"></script>

    {# jQuery Custom Validation Methods #}
    <script src="{{ asset('js/customValidationMethods.js') }}"></script>  

    {# Registration Srcipt #}
    <script src="{{ asset('js/editPassword.js') }}"></script>

    {# Show Hide Password #}
    <script src="{{ asset('js/showHidePassword.js') }}"></script>

    {# Other Custom Scripts #}
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                showAlert(
                    "{{ label == 'success' ? 'Succès' : 'Erreur' }}",
                    "{{ message|e('js') }}",
                    "{{ label == 'success' ? 'success' : 'error' }}"
                )
            {% endfor %}
        {% endfor %}
    });
    </script>
{% endblock %}

