{{ 
    form_start(form, {
        'attr': { 
            'id': "edit-password-form",
            'class': "needs-validation",
            'novalidate': "",
            'method': 'post', 
        }
    }) 
}}
    <div class="mb-3">
        {{ form_label(form.plainPassword) }}

        <div class="input-group flex-nowrap">
            {{ form_widget(form.plainPassword) }}
            <span class="input-group-text input-group-text-end show-pass"><i class='bx bx-show'></i></span>
            <span class="input-group-text input-group-text-end hide-pass d-none"><i class='bx bx-hide'></i></span>
        </div>

        <div class="invalid-feedback">
            {{ form_errors(form.plainPassword) }}
        </div>
    </div>
    <div class="mb-3">
        {{ form_label(form.newPassword.first) }}

        <div class="input-group flex-nowrap">
            {{ form_widget(form.newPassword.first) }}
            <span class="input-group-text input-group-text-end show-pass"><i class='bx bx-show'></i></span>
            <span class="input-group-text input-group-text-end hide-pass d-none"><i class='bx bx-hide'></i></span>
        </div>

        <div class="invalid-feedback">
            {{ form_errors(form.newPassword.first) }}
        </div>
    </div>
    <div class="mb-3">
        {{ form_label(form.newPassword.second) }}

        <div class="input-group flex-nowrap">
            {{ form_widget(form.newPassword.second) }}
            <span class="input-group-text input-group-text-end show-pass"><i class='bx bx-show'></i></span>
            <span class="input-group-text input-group-text-end hide-pass d-none"><i class='bx bx-hide'></i></span>
        </div>
        
        <div class="invalid-feedback">
            {{ form_errors(form.newPassword.second) }}
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button id="edit-password-submit" type="submit" class="btn btn-primary">Enregistrer</button>

        <button id="edit-password-loader" class="btn btn-primary d-none" type="button" disabled>
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Enregistrement...</span>
        </button>
    </div>
{{ form_end(form) }}
