<table id="data-list-skills-microsoft" class="table table-striped nowrap" style="width: 100%">
    <thead>
        <tr>
            <th style="width: 50%">Tech Microsoft</th>
            <th style="width: 50%">Niveau</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Microsoft Word</td>
            <td>{{ candidate.otherInfo.getMicrosoftWordLevel() }}</td>
            <td><a class='btn btn-warning btn-sm bg-warning text-white w-100' href='#'><i class='bx bx-info-circle me-2'></i>Voir plus</a></td>
        </tr>
        <tr>
            <td>Microsoft Excel</td>
            <td>{{ candidate.otherInfo.getMicrosoftExcelLevel() }}</td>
            <td><a class='btn btn-warning btn-sm bg-warning text-white w-100' href='#'><i class='bx bx-info-circle me-2'></i>Voir plus</a></td>
        </tr>
        <tr>
            <td>Microsoft PowerPoint</td>
            <td>{{ candidate.otherInfo.getMicrosoftPowerPointLevel() }}</td>
            <td><a class='btn btn-warning btn-sm bg-warning text-white w-100' href='#'><i class='bx bx-info-circle me-2'></i>Voir plus</a></td>
        </tr>
        <tr>
            <td>Microsoft OneNote</td>
            <td>{{ candidate.otherInfo.getMicrosoftOneNoteLevel() }}</td>
            <td><a class='btn btn-warning btn-sm bg-warning text-white w-100' href='#'><i class='bx bx-info-circle me-2'></i>Voir plus</a></td>
        </tr>
        <tr>
            <td>Microsoft Outlook</td>
            <td>{{ candidate.otherInfo.getMicrosoftOutlookLevel() }}</td>
            <td><a class='btn btn-warning btn-sm bg-warning text-white w-100' href='#'><i class='bx bx-info-circle me-2'></i>Voir plus</a></td>
        </tr>
        <tr>
            <td>Microsoft Publisher</td>
            <td>{{ candidate.otherInfo.getMicrosoftPublisherLevel() }}</td>
            <td><a class='btn btn-warning btn-sm bg-warning text-white w-100' href='#'><i class='bx bx-info-circle me-2'></i>Voir plus</a></td>
        </tr>
        <tr>
            <td>Microsoft Access</td>
            <td>{{ candidate.otherInfo.getMicrosoftAccessLevel() }}</td>
            <td><a class='btn btn-warning btn-sm bg-warning text-white w-100' href='#'><i class='bx bx-info-circle me-2'></i>Voir plus</a></td>
        </tr>
        <tr>
            <td>Microsoft Visio</td>
            <td>{{ candidate.otherInfo.getMicrosoftVisioLevel() }}</td>
            <td><a class='btn btn-warning btn-sm bg-warning text-white w-100' href='#'><i class='bx bx-info-circle me-2'></i>Voir plus</a></td>
        </tr>
        <tr>
            <td>Microsoft Project</td>
            <td>{{ candidate.otherInfo.getMicrosoftProjectLevel() }}</td>
            <td><a class='btn btn-warning btn-sm bg-warning text-white w-100' href='#'><i class='bx bx-info-circle me-2'></i>Voir plus</a></td>
        </tr>
    </tbody>
</table>