<div class="my-4 internship-form">
    {{ form_start(form, {
        'attr': {
            'id': 'internship-' ~ form.vars.value.id,
            'class': 'needs-validation',
            'novalidate': '',
            'data-edit-url': internship_edit_url,
            'data-delete-url': internship_delete_url,
        }
    }) }}
    
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                {{ form_label(form.theme) }} <span class="star">*</span>
                {{ form_widget(form.theme) }}
                {{ form_errors(form.theme) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                {{ form_label(form.organization) }} <span class="star">*</span>
                {{ form_widget(form.organization) }}
                {{ form_errors(form.organization) }}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    {{ form_label(form.internship_year) }} <span class="star">*</span>
                    {{ form_widget(form.internship_year) }}
                    {{ form_errors(form.internship_year) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    {{ form_label(form.duration) }} <span class="star">*</span>
                    {{ form_widget(form.duration) }}
                    {{ form_errors(form.duration) }}
                </div>
            </div>  
        </div>
        
        <div class="d-flex justify-content-between">
            <button 
                type="submit" 
                class="btn btn-primary d-flex align-items-center gap-1"
            >
                <i class="bx bx-edit"></i> 
                <span class="d-none d-lg-flex">Mettre à jour ce stage</span>
            </button>
            <button 
                type="button" 
                class="btn btn-danger d-flex align-items-center gap-1 delete-internship" 
                data-id="{{ internship.id }}" 
                data-url="{{ path('app_internship_delete', {'id': internship.id}) }}"
            >
                <i class="bx bx-trash"></i> 
                <span class="d-none d-lg-flex">Supprimer ce stage</span>
            </button>
        </div>
    {{ form_end(form) }}
</div>