<!-- Step 9 form fields here -->

{{ form_start(engagementForm, {
  'attr': {
      'id': 'engagement-form', 
      'class': 'needs-validation',
      'novalidate': '',
  }
}) }}

<div class="step step-{{ step_number }}">

  <div class="d-flex align-items-start justify-content-between my-4 d-block d-lg-none gap-2">
    <div class="text-center bg-primary text-white px-2 py-1 rounded-1">
      {{ step_number }}/{{ total_steps }}
    </div>
    <div class="d-flex flex-column text-end">
      <h3 class="text-end text-primary mb-1">Engagement</h3>
      <p class="text-paragraph m-0">Suivant : Validation de ma candidature</p>
    </div>
  </div>
  <p class="pb-4 border-bottom-dashed text-paragraph d-block d-lg-none">Veuillez remplir les champs qui sont marqués obligatoires (<span class="text-danger">*</span>)</p>

  <h3 class="d-none d-lg-flex justify-content-center py-3 mb-4 border-full-dashed">
    Engagement
  </h3>

  <div class="row">
    <div class="col-lg-12">
      <p class="text-center text-md-start">Je sousigné <span class="commitment-user">{{ app.user.getLastName() }} {{ app.user.getFirstName() }}</span> certifie sur l'honneur l'exactitude des renseignements ci-dessus.</p>
      <div class="d-flex justify-content-center justify-content-md-end">
        <p>Fait à {{ form_widget(engagementForm.city) }}, le <span class="commitment-date"></span></p>
      </div>
    </div>
  </div>

  {# <h3 class="d-flex justify-content-center py-3 my-4 border-full-dashed">
    Autres postes souhaités
  </h3>

  <div class="row">
    <div class="col-lg-12">
      <p class="text-center text-md-start">
        Au cas où vos compétences peuvent éventuellement satisfaire plusieurs postes, veuillez choisir un ou deux postes secondaires.
      </p>
      <div class="row">
        <div class="col-lg-6">
          <div class="mb-3">
            {{ form_label(engagementForm.second_position) }} 
            {{ form_widget(engagementForm.second_position) }}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            {{ form_label(engagementForm.third_position) }} 
            {{ form_widget(engagementForm.third_position) }}
          </div>
        </div>
      </div>
    </div>
  </div> #}

  <div class="mt-4 pt-4 d-flex justify-content-between">
    {{ include('front/partials/steps/_step_btn_prev.html.twig') }}

    <div id="engagement-actions" class="d-flex gap-2">
      <button id="engagement-submit" type="submit" class="btn btn-primary d-flex align-items-center gap-2">
        <i class="bx bx-check"></i> <span class="d-none d-lg-flex">Enregistrer ma candidature</span>
      </button>

      <button id="engagement-loader" class="btn btn-primary d-none" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Enregistrement...</span>
      </button>

      <a
        href={{ path('app_job_application_index') }}
        class="next-step btn btn-success d-flex align-items-center gap-2 {% if not is_engagement_edit %} disabled {% endif %}"
      >
        <i class="bx bx-send"></i> <span class="d-none d-lg-flex">Valider ma candidature</span>
      </a>

    </div>
  </div>

</div>

{{ form_end(engagementForm) }}