<table id="data-list" class="table table-striped nowrap" style="width: 100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Statut</th>
        <th>Actions</th>
        <th>Détails</th>
    </tr>
    </thead>
    <tbody>
    {% for maritalStatus in allMaritalStatus %}
        <tr>
            <td>{{ maritalStatus.getId() }}</td>
            <td>{{ maritalStatus.getName() }}</td>
            <td>
                {% if not maritalStatus.isDeleted() %}
                    <span class="badge text-bg-success rounded-pill">Activé</span> 
                {% else %}
                    <span class="badge text-bg-danger rounded-pill">Desactivé</span>
                {% endif %}
            </td>
            <td>
                <div class="d-flex justify-content-end gap-1">
                    <button 
                        class="btn-action bg-warning" 
                        data-bs-toggle="modal" 
                        data-bs-target="#marital-status-{{ maritalStatus.getId() }}"
                    >
                        <i class="bx bx-edit"></i> 
                        <span>Modifier</span>
                    </button>

                    {% if not maritalStatus.isDeleted() %}
                        <button 
                            class="btn-action btn-state bg-danger delete-marital-status"
                            data-state="désactiver cette catégorie de situation familiale" 
                            data-url="{{ path('admin_marital_status_disable', {'id': maritalStatus.getId()}) }}"
                        >
                            <span>Désactiver</span>
                        </button>
                    {% else %}
                        <button 
                            class="btn-action btn-state bg-success delete-marital-status"
                            data-state="réactiver cette catégorie de situation familiale" 
                            data-url="{{ path('admin_marital_status_activate', {'id': maritalStatus.getId()}) }}"
                        >
                            <span>Activer</span>
                        </button>
                    {% endif %}
                </div>
            </td>
            <td><a class='btn btn-warning btn-sm bg-warning text-white w-100' href='#'><i class='bx bx-info-circle me-2'></i>Voir plus</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# Modal for Adding new item #}
{{ include('back/partials/modals/_newMaritalStatus.html.twig') }}

{# Modals for Editing each items #}
{% for maritalStatusForm in maritalStatusForms %}
    {{ include('back/partials/modals/_editMaritalStatus.html.twig') }}
{% endfor %}