<!-- Edit position -->

<div
  id="position-{{ positionForm.vars.value.id }}"
  class="modal modal-sm fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  {{ form_start(positionForm, {
    'attr': {
      'id': 'position-' ~ positionForm.vars.value.id,
      'class': 'needs-validation',
      'novalidate': '',
    }
  }) }}
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header px-4">
          {{ form_label(positionForm.name) }}
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start p-1">
          <div class="modal-body text-start p-1">
            {{ form_widget(positionForm.name) }}
          </div>

          <div class="modal-body text-start p-1">
            {{ form_widget(positionForm.reference) }}
          </div>
          {#<div class="modal-body text-start p-1"> 
            {{ form_widget(positionForm.closing_date) }}
          </div>#}
            <div class="modal-body text-start p-1"> 
            {{ form_widget(positionForm.campaign) }}
          </div>
        </div>
        <div class="modal-footer d-flex flex-nowrap gap-1 border-0 pb-4 px-4 pt-0">
          <button type="submit" class="btn btn-primary w-100 d-flex justify-content-center align-items-center gap-2 m-0">
            <i class="bx bx-check"></i> <span class="">Enregistrer</span>
          </button>
        </div>
      </div>
    </div>
  {{ form_end(positionForm) }}
</div>

