<!-- Add Contract Type -->

<div
  id="contractType-modal"
  class="modal modal-sm fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  {{ form_start(newContractTypeForm, {
    'attr': {
      'id': 'contractType-new',
      'class': 'needs-validation',
      'novalidate': '',
    }
  }) }}

    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header px-4">
            Type de contrat
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>


        <div class="modal-body text-start p-3">
            {{ form_widget(newContractTypeForm.code) }}
        </div>


        <div class="modal-body text-start p-3">
            {{ form_widget(newContractTypeForm.label) }}
        </div>


        <div class="modal-body text-start p-3">
            {{ form_widget(newContractTypeForm.description) }}
        </div>


        <div class="modal-body text-start p-3">
            <div class="form-check">
                {{ form_widget(newContractTypeForm.certificationRequired) }}
                {{ form_label(newContractTypeForm.certificationRequired) }}
            </div>
        </div>


        <div class="modal-body text-start p-3">
            <div class="form-check">
                {{ form_widget(newContractTypeForm.internshipRequired) }}
                {{ form_label(newContractTypeForm.internshipRequired) }}
            </div>
        </div>


        {#<div class="modal-body text-start p-3">
            <div class="form-check">
                {{ form_widget(newContractTypeForm.is_deleted) }}
                {{ form_label(newContractTypeForm.is_deleted) }}
            </div>
        </div>#}


        <div class="modal-footer d-flex flex-nowrap gap-1 border-0 pb-4 px-4 pt-0">

          <button 
            id="contractType-new-submit" 
            type="submit" 
            class="btn btn-primary w-100 d-flex justify-content-center align-items-center gap-2 m-0"
          >
            <i class="bx bx-check"></i>
            <span>Enregistrer</span>
          </button>


          <button 
            id="contractType-new-loader" 
            class="btn btn-primary m-0 w-100 d-none" 
            type="button" 
            disabled
          >
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Enregistrement...</span>
          </button>

        </div>

      </div>
    </div>

  {{ form_end(newContractTypeForm) }}

</div>