{# ---------------------------- Layout ---------------------------- #}
{% extends 'front/layouts/base.html.twig' %}

{# ---------------------------- Title ---------------------------- #}
{% block title %}
    mot de passe
{% endblock %}

{# ---------------------------- CSS ---------------------------- #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/editpass.css') }}" />
{% endblock %}

{# ---------------------------- Body ---------------------------- #}
{% block body %}
    {{ include('front/partials/_navbar.html.twig') }}

    <main class="my-5">
        <div class="container pt-5">
          <div class="row d-flex flex-column align-items-center justify-content-center">
            <div class="col-lg-8">
              <div class="py-2 px-4 mb-4 bg-white rounded-4 strong-shadow">
                <div class="container-fluid py-3">
                  <h1 class="mt-1 text-center border-bottom-dashed">Modifier mon mot de passe</h1>  
                  {{ include('partials/forms/user/_edit_password.html.twig') }}
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>


    {{ include('front/partials/_footer.html.twig') }}
    
{% endblock %}

{# ---------------------------- JS ---------------------------- #}
{% block javascripts %}

  {# jQuery v1.11.1 #}
  <script src="{{ asset('vendor/jquery/jquery.min.js') }}" {{ add_nonce()|raw }}></script>

  {# jquery Validation #}
  <script src="{{ asset('vendor/jquery-validation/jquery.validate.js') }}" {{ add_nonce()|raw }}></script>

  {# jQuery Custom Validation Methods #}
  <script src="{{ asset('js/customValidationMethods.js') }}" {{ add_nonce()|raw }}></script>

  {# sweetalert2 CDN #}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" {{ add_nonce()|raw }}></script>

  {# Custom Alert #}
  <script src="{{ asset('js/customAlert.js') }}" {{ add_nonce()|raw }}></script>

  {# Registration Srcipt #}
  <script src="{{ asset('js/editPassword.js') }}" {{ add_nonce()|raw }}></script>

  {# Show Hide Password #}
  <script src="{{ asset('js/showHidePassword.js') }}" {{ add_nonce()|raw }}></script>

  {# Submit Button Loader #}
  <script src="{{ asset('js/submitLoader.js') }}" {{ add_nonce()|raw }}></script>

  {# Other Custom Scripts #}
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      {% for label, messages in app.flashes %}
        {% for message in messages %}
          showAlert(
            "",
            "{{ message|e('js') }}",
            "{{ label == 'success' ? 'success' : 'error' }}"
          )
        {% endfor %}
      {% endfor %}
    });
  </script>
    
{% endblock %}

